/* Footer */
.page-footer .container-fluid{ }

.page-footer { background: #fff; color:#000; font-family: “Segoe UI”,Arial,Helvetica,sans-serif; font-size: 11pt;}
.page-footer .logo-footer{ display: block; text-indent: -9999em;}
.page-footer .logo-footer span{ background: url(../../assets/img/logo-footer.png) no-repeat; width:295px; height: 65px; display: block;}
.page-footer p.tit-sub{ display: block; padding: 29px 0 0; }
.page-footer .col-md-6 ul.list-unstyled li{ display: inline-block; width: 18.5%; text-align: center;}
.page-footer .col-md-6 ul.list-unstyled li a{font-weight: lighter; color:#000; padding: 30px 0 0; display: block;}
.page-footer .col-md-2 ul.list-unstyled li{ display: inline-block;}
.page-footer .col-md-2 ul.list-unstyled li a[class*="bt-"]{ background: url(../../assets/img/sprite-redes.png) no-repeat; width: 39px; height: 39px; display: block; text-indent: -9999em;}
.page-footer .col-md-2 ul.list-unstyled li a.bt-facebook{ background-position: -10px -9px;}
.page-footer .col-md-2 ul.list-unstyled li a.bt-twitter{ background-position: -56px -9px;}
.page-footer .col-md-2 ul.list-unstyled li a.bt-instagram{ background-position: -102px -9px;}
.page-footer .col-md-2 ul.list-unstyled li a.bt-youtube{ background-position: -148px -9px;}