<footer class="page-footer pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

                <!-- Content -->
                <div class="logo-footer">
                    <span>S-Pharma</span>
                </div>
                <p class="tit-sub">Você está em um ambiente seguro. Todos os dados são protegidos.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Polética de Privacidade</a>
                    </li>
                    <li>
                        <a href="#!">Termo de Uso</a>
                    </li>
                    <li>
                        <a href="#!">Segurança</a>
                    </li>
                    <li>
                        <a href="#!">Perguntas Frequentes</a>
                    </li>

                    <li>
                        <a href="#!">Contato</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->


                <ul class="list-unstyled">
                    <li>
                        <a href="#!" title="Facebook" class="bt-facebook"><span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="#!" title="Twitter" class="bt-twitter"><span>Twitter</span></a>
                    </li>
                    <li>
                        <a href="#!" title="Instagram" class="bt-instagram"><span>Instagram</span></a>
                    </li>
                    <li>
                        <a href="#!" title="Youtube" class="bt-youtube"><span>Youtube</span></a>
                    </li>
                </ul>
                <h5 class="text-uppercase">Redes Sociais</h5>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-right py-3">
        <p>2018 - Todos os Direitos reservados</p>
    </div>
    <!-- Copyright -->

</footer>