<div class="container-fluid login">
    <!-- Header -->
    <header>
        <h1>
            <span>S-Pharma</span>
        </h1>
    </header>
    <!-- Header -->

    <div class="container">

        <div class="box-autenticacao">
            <h3>Seja bem vindo</h3>
            <div class="box-email">
                    <p>Primeiro Digite seu email</p>
                    <input type="email" id="email" pattern=".+@globex.com" size="30" required>
                    <a href="#!" class="bt-enviar"><div class="icon">
                            <div class="arrow"></div>
                          </div></a>
                          <a href="#!" class="bt-esq-senha"><span>Esqueceu o email?</span></a>
            </div>
          
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- Footer -->
</div>
